<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <h1>Submit a Form</h1>
    <form action="/submit" method="post">
        {% comment %} here the action is set to /submit , so used to give redirecting url /route to after submission {% endcomment %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
